:root {
  --primary-color: #e73850;
  --secondary-color: #fa9f18;
  --black: #000;
  --white: #fff;
  --danger: #c91432;
  --success: #28a745;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 90%;
}

body {
  font-size: 1rem;
  font-family: 'Trebuchet MS', sans-serif;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

textarea:read-only {
  background-color: #e9ecef;
}